# Sensitive files - NEVER commit these
credentials.json

# KRA_Installer and Builder - no need to share
KRA_Installer/
Builder/
Old Local Test/
New Local Test/

# Python cache
__pycache__/
*.pyc
*.pyo

# PyInstaller
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# Executables
*.exe
# Local flags
.lastdate_*

# IDE
.vscode/
.idea/

inputPasswordTest.py